{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "/users/css/custom.css" %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container-fluid loginBG">
    <div class="row">
        <div class="col-lg-12 topbar">
            Automation Portal
        </div>
    </div>

    <img src="{% static "/users/img/foodchainLogo.png" %}" alt="Hi!" />

    <div class="content-section row" style="width: 350px;margin: auto;">
        <div class="panel panel-default">
            <div class="formtitle">SING UP</div>
            <div class="panel-body">
                <form method="POST">
                    {% csrf_token %}
                    <!-- <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Reset Password</legend>
                        {{ form.as_p }}
                    </fieldset> -->
                    {% for field in form %}
                    <div class="form-group">
                        <label>{{ field.html_name }}</label>
                        <input class="form-control" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}" value="{{ field.value }}" type="text" placeholder="{{ field.html_name }}" />
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>confirm_pass</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="content-section">-->
<!--        <form method="POST">-->
<!--            {% csrf_token %}-->
<!--            <fieldset class="form-group">-->
<!--                <legend class="border-bottom mb-4">Reset Password</legend>-->
<!--                {{ form.as_p }}-->
<!--            </fieldset>-->
<!--            <div class="form-group">-->
<!--                <button class="btn btn-outline-info" type="submit">Reset Password</button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->